/* always show anchors on /--/entity/ and /style-guide/ pages */
:root {
  --vt-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --vt-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");
}

.vt-doc.api h2 .header-anchor,
.vt-doc.finance h2 .header-anchor,
.vt-doc.style-guide h2 .header-anchor {
  opacity: 1;
}

.vt-doc table {
  table-layout: fixed;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.5em;
}

.vt-doc table th,
.vt-doc table td {
  padding: 0.6em 1em;
  text-align: left;
  white-space: pre-wrap;
}

.vt-doc.guide p > img,
.vt-doc.common-ui p > img {
  margin: 14px 0 28px 0;
}
